:root {
	font-family: Raleway, Avenir;
	line-height: 1.5;
	font-weight: 500;

	margin: 0;
	padding: 0;
	width: 100%;

	min-height: 100vh;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #f9f9f9;
}

#home,
#about,
#projects,
#contact,
#gap {
	min-height: 100vh;
	padding: 6vw 2vw;
}

#video {
	position: sticky;
	top: 0;
	align-self: flex-start;
	padding-top: 15vh;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	width: 100%;
}

a,
p {
	font-size: 2.5vw;
	font-weight: 500;
	color: #ffbb00;
	text-decoration: inherit;
}
a:hover {
	color: #ffbb00;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;

	background: linear-gradient(to top, rgb(143, 53, 11), rgb(87, 8, 8));
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

h1 {
	color: #f9f9f9;
	font-variant-caps: small-caps;
	font-size: 4vw;
	line-height: 1.1;
	font-weight: 700;
	padding-left: 2vw;
	padding-right: 2vw;
}

h2 {
	font-size: 3vw;
	font-variant-caps: small-caps;
	font-weight: 700;
	padding-left: 2vw;
	padding-right: 2vw;
}

h3 {
	font-size: 2vw;
	font-weight: 500;
	padding-left: 2vw;
	padding-right: 2vw;
}

p {
	font-size: 1.5vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1vw;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #ffbb00;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.2);
}

@media (max-width: 800px) {
	h1 {
		font-size: 32px;
	}

	a,
	p {
		font-size: 24px;
	}
}
